.c-collections {
  $size-moved: 10px;
  $size-width: 450px;
  $size-height: 300px;

  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: $size-height + $size-moved *2;
  margin-top: map-get($main-sizes, padding-top)/2;

  @include animations {
    .c-collections__content {
      transition: transform 0.4s;
    }
  }

  .c-collections__item {
    width: $size-width;
    height: $size-height;
    display: inline-block;
    margin: 0 20px;

    &.c-focused .c-item__length {
      color: $color-font-focused;
      background-color: $color-focused;
    }

    .c-card,
    .c-item__content {
      width: $size-width;
      height: $size-height;
      overflow: hidden;
      position: absolute;
      border-radius: $size-border-radius;
    }

    .c-item__content {
      background-size: cover;
      background-position: center;
      background-color: lighten($color-bg-grey, 5%);
    }

    .c-item__length {
      padding: 10px;
      font-size: 14px;
      display: inline-block;
      background-color: $color-bg-grey;
      border-bottom-left-radius: $size-border-radius;
    }

    .c-card {
      z-index: -1;
      background-color: $color-bg-grey;
      transform: translate(-$size-moved, $size-moved);

      & + .c-card {
        z-index: -2;
        background-color: darken($color-bg-grey, 5%);
        transform: translate(-$size-moved*2, $size-moved*2);
      }
    }
  }
}
