.c-chevron {
  z-index: 2;

  &::after {
    content: "";
    display: inline-block;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    width: 0.45em;
    height: 0.45em;

    left: 0.5em;
    top: -0.05em;
    position: relative;
    transform-origin: 50% 50%;

    @include animations {
      transition: transform 0.3s;
    }
  }

  &.c-chevron--up::after {
    transform: rotate(-45deg);
  }
  &.c-chevron--left::after {
    transform: rotate(-135deg);
  }
  &.c-chevron--down::after {
    transform: rotate(-225deg);
  }
}
