.c-nav .c-nav__item {
  font-size: 18px;
  display: inline-block;
  padding: 10px $size-nav-item-padding;
  border-radius: $size-nav-item-padding;

  &.c-focused {
    font-weight: 500;
    color: $color-font-focused;
    background-color: $color-focused;
    box-shadow: $box-shadow;
  }
}
