@mixin center($direction) {
  position: absolute;

  @if $direction == "vertical" {
    top: 50%;
    transform: translateY(-50%);
  } @else if $direction == "horizontal" {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin float($direction) {
  position: absolute;

  @if $direction == "left" {
    left: 0;
  } @else if $direction == "right" {
    right: 0;
  }
}

@mixin overlay($size, $color, $opacity) {
  content: "";
  position: absolute;
  border: 280px solid $color;
  border-radius: 50%;
  opacity: $opacity;

  width: $size;
  height: $size;
  z-index: -1;
}

@mixin animations {
  @if $animations {
    @content;
  }
}
