body {
  background-color: #bada55;
}

.c-container {
  position: relative;
}

.c-nav {
  width: 250px;
  margin-left: 200px;
  display: inline-block;

  .c-focused {
    background-color: yellow;
  }
}

.c-content {
  display: inline-block;

  * {
    max-width: 100%;
  }
}
