.c-collection {
  .c-collection__titles {
    height: 18px;
    margin: 10px 0;
  }

  .c-collection__description {
    width: 45%;
    color: $color-white;
  }

  .c-collection__nav {
    height: 45px;
    margin: 20px 0;
    position: relative;
  }

  .c-collection__movies {
    padding: 0 5px;
    height: 430px;
    overflow: hidden;
    position: relative;

    @include animations {
      .c-movie__wrapper {
        transition: transform 0.4s;
      }
    }
  }
}
