.c-movie__line {
  position: absolute;
  @include animations {
    transition: transform 0.3s;
  }

  .c-movie {
    $radius: 3px;
    $padding: 20px;
    $translate: 5px;

    width: 210px;
    height: 300px;
    display: inline-block;
    border-radius: $radius;
    background-color: #242c33;

    & + .c-movie {
      margin-left: 10px;
    }

    &::after {
      content: "";
      height: 100%;
      z-index: -1;
      display: block;
      position: relative;
      border-radius: $radius;

      @include animations {
        transition: transform 0.5s;
      }
    }

    &.c-focused {
      .c-movie__description .c-movie__name {
        display: block;
      }
      &::after {
        background-color: $color-focused;
        transform: translate($translate, -$translate);
      }
    }

    .c-movie__description {
      bottom: $padding;
      position: absolute;
      padding-left: $padding;

      .c-movie__name {
        color: white;
        display: none;
      }
    }
  }
}
