.c-movie__line {
  $padding: 20px;
  position: absolute;
  @include animations {
    transition: transform 0.3s;
  }

  .c-movie {
    width: 210px - $padding*2;
    height: 300px;
    background-color: #242c33;
    display: inline-block;
    position: relative;
    padding: 0 $padding;
    vertical-align: bottom;
    border-radius: 3px;

    &.c-focused {
      $translate: 3px;
      top: -$translate*2;
      right: -$translate*2;

      &::after {
        content: "";
        position: absolute;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        bottom: -$translate*2;
        left: -$translate*2;
        background-color: $color-focused;
        z-index: -1;
      }
    }

    & + .c-movie {
      margin-left: 12.5px;
    }

    .c-movie__description {
      bottom: $padding;
      position: absolute;

      .c-movie__name {
        color: white;
      }
    }
  }
}
