.c-movie__line {
  $size-width: 210px;
  $size-height: 300px;
  $size-padding: 20px;

  height: $size-height;
  margin-bottom: $size-padding /2;

  .c-movie {
    position: relative;
    display: inline-block;
    width: $size-width;
    height: $size-height;
    border-radius: $size-border-radius;
    background-color: $color-bg-grey;

    & + .c-movie {
      margin-left: $size-padding/2;
    }

    &::after {
      content: "";
      z-index: -1;
      display: block;
      position: relative;
      height: $size-height;
      border-radius: $size-border-radius;

      @include animations {
        transition: transform 0.5s;
      }
    }

    &.c-focused {
      .c-movie__description .c-movie__name {
        display: block;
      }
      &::after {
        background-color: $color-focused;
        transform: translate(-5px, 5px);
      }
    }

    .c-movie__description {
      width: $size-width;
      bottom: $size-padding;
      position: absolute;
      background-color: rgba($color-bg-grey, 0.9);

      * {
        padding: 5px $size-padding;
      }

      .c-movie__name {
        color: $color-white;
        display: none;
      }
    }
  }
}
